@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 16px;  
}

header{

}

header nav{

}

header nav ul{

}
header nav ul li{

}
header nav ul li a{

}
.fa{

}
.fa-sign-in-alt{

}

nav{

}
nav ul{
    display: none;
    
}

nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.btn{

}
.bar-btn{

}
.login-btn{

}
.fa-sign-in-alt{

}
.fa-bars{

}

.row{

}
.col{

}
.title{

}

.watch-btn{

}
@media  screen and (min-width:360px) {

    
}



