@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 16px;  
    font-family: 'Poppins', sans-serif;
    background-color: rgb(250, 249, 249);
}
section, footer{
    margin-bottom: 100px;
}
header{
    margin-top: 50px;
}
nav{
  display:grid;
  grid-template-columns: auto auto;
  
}
nav ul{
   display:none; 
    
}

nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color:black;
}

.bar-btn{
    margin:0 auto;
}
.container {
    background: #2D25A0;
    display: flex;
    flex-direction: column;
}

.col {
    width: 100%;
}

.col h1 {
    width: 278px;
    font-family: Poppins;
    font-size: 50px;
    line-height: 50px;
    color: #FFFFFF;
    margin: 52px 0 30px 16px;
}

a {
    color: white;
    text-decoration: none;
}

.col img {
    width: 329px;
    height: 259.17px;
    margin: 0 16px 0 15px;
    padding-top: 10px;
    background: url(1648334-world-cup-football-player-kick-off-football-kick-football-png-980_772_preview.png);

}

.btn {
    background: #E02C6D;
    border: none;
    color: white;

}

.text-center{
    text-align: center;
}
.watch-btn{
    font-size: 16px;
    font-weight: 500;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    margin-bottom: 50px;
    margin-left: 15px;

}
.login-btn{
    font-size: 16px;
    font-weight: 500;
    height: 44px;
    padding: 10px 24px;
    margin-bottom: 50px;

}

.watch-btn i {
    margin-left: 8px;
}

.high-light {
    background-color: white !important;
}

/* players description */
.players-container {
    padding: 15px;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 24px;

}

.player {
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px 15px 0 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

.player img {
    width: 100%;
    height: 256px;
}

.player h2 {
    margin: 10px 0;
}

.player p {
    font-weight: 200;
    margin-bottom: 10px;
}




/* footer */

.fab-icon{
    font-size: 30px;
}

.logo {
    padding: 0 71px 0 18px;
}

.logo img {
    width: 100%;
}

.social-icons a { 
color: gray;
padding-left: 10px;
    
}


.text-center {
    text-align: center;
}

.margin-bottom {
    margin-bottom: 24px;
}

.social-icons {
    width: 300px;
    margin: 0 auto;
    padding-left: 60px;

}
/* highlights section */
.high-light h1 {
    width: 292px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #0A0826;
}

.high-light p {
    width: 329px;


    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    margin-left: 15px;
    margin-bottom: 24px;
}

.coaches h4, a{
    font-family:arial;
    text-decoration: none;
    color:black;

  }
  .blog-container{
    display:grid;
    justify-content:center;
    grid-template-columns:auto;
    grid-row-gap: 30px;

   }

   .blog{
    align-items:center;
     

   }
  .blog img {
    height:300px;
    width:300px;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 50%;
    }

@media (min-width:361px) {

    .col img {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .player {
        margin: 0 auto;
    }
    .display{
        grid-template-columns: repeat(1, 1fr);
    }
}

    @media (min-width:670px) {
        .bar-btn{
            display:none;
        }
        nav {
            display:grid;
            grid-template-columns: 80% 20%;
        }
        nav ul{
            display:flex;
            justify-content: space-evenly;
        }
       
        .container {
            flex-direction: row;
            margin-bottom: 47px;
        }

        .col img {
            margin-top: 52px;
        }

        .players-container {
            grid-template-columns: auto;
            grid-column-gap: auto;
            grid-row-gap: 24px;
        }
        .display{
            grid-template-columns: repeat(2, 1fr);
        }

    }

    @media (min-width:800px) {
        .players-container {
            grid-template-columns: auto auto;

        }

        .players-container {
            padding: 0;
        }

        .col img {
            margin: 0;
        }
        .display{
            grid-template-columns: repeat(2,1fr);
        }
    }

    @media only screen and (min-width:1050px) {

        .players-container {
            grid-template-columns: auto auto auto;

        }
        .display{
            grid-template-columns: repeat(3,1fr);
        }

    }

    
     @media only screen and (min-width: 650px){
        .blog-container{
            grid-template-columns:auto auto;
            justify-content: space-evenly;
        }
      }
      
      @media only screen and (min-width: 850px){
        .blog{
            width:400px;
            display:flex;

       }

      }
      